.cards {
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    overflow: hidden;
    background-color: $dark-bg-primary;
    border: 1px solid $color-primary;
    &:hover {
        transition: background-color 0.35s, transform 0.35s;
        background-color: $dark-bg-secondary;
        transform: translateY(-0.25rem);
    }
    
    &__img {
        width: 100%;
        height: 235px;
        @include media('md') {
            width: 35%;    
        }
    }

    &__content {
        padding: 0;
        width: 100%;
        @include media('md') {
            width: 65%;
        }
    
    }

    &__title {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: .5rem;
        color: $color-white;
    }

    &__description {
        display: block;
        padding: 0.5rem 1rem 1rem;
        color: $color-white;
    }
}