.cards {
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    overflow: hidden;
    background-color: $color-tertiary;
    
    &__img {
        width: 100%;
        height: 230px;
        @include media('md') {
            width: 35%;    
        }
    }

    &__content {
        padding: 0;
        width: 100%;
        @include media('md') {
            width: 65%;
        }
    }

    &__title {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: .5rem;
        color: $color-white;
    }

    &__description {
        display: block;
        padding: 0.5rem 1rem 1rem;
        color: $color-white;
    }
}