.contact {
    padding: 2rem 0 4rem;
    background-color: $dark-bg-primary;
    border-top: 1px solid $color-primary;

    &__header {
        padding: 2rem 0;
        text-align: center;
        max-width: 970px;
        margin: 0 auto;
    }

    &__content {
        margin: 0 auto 1rem;
        @include media('md') {
            margin-bottom: 1.5rem;
        }
        &__left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
    }

    &__information {
        @include reset-list;
        width: 100%;
        background-color: $dark-bg-secondary;
        display: flex;
        flex-direction: column;

        &__item {
           
            padding: 1rem;
            border-radius: 10px;
            margin-bottom: 1rem;
            
            &__icon {
                width: 20%;
                color: $color-primary;
            }
            
        }
        &__title {
            display: block;
            color: $dark-text-quaternary;
            text-transform: uppercase;
            font-size: $fs-sm;
            font-weight: $fw-6;
            margin-bottom: 1rem;
        }

        &__text {
            display: block;
            color: $dark-text-secondary;
            font-size: $fs-sm;
            @include media('md') {
                font-size: $fs-sm;
            }
        }
        
    }

    // &__list {
    //     @include reset-list;
    //     margin-top: 4rem;
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     align-items: stretch;
    //     @include media('lg') {
    //         justify-content: center;
    //     }
    //     &__item {
    //         box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    //         border-radius: 10px;
    //         background-color: $color-white;
    //         width: 80%;
    //         margin-bottom: 6rem;
    //         @include media('lg') {
    //             width: 30%;
    //         }
    //     }
    // }

    &__buttons {
        @include reset-list;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        &__item {
            width: 50%;
            @include media('md') {
                width: 12%;;
            }
        }
        &__btn {
            display: inline-block;
            border-radius: 1rem;
            background-color: $color-primary;
            padding: 1rem;
            &:hover{
                background-color: $dark-bg-secondary;
            }
        }
        &__icon {
            width: 70%;
            color: $color-white;
        }
    }
}