.products {
    padding: 2rem 0 4rem;
    background-color: $color-black;
    // background: linear-gradient(to bottom, #121212 0%, #1E3B8B 50%, #0066FF 100%);
    // background: radial-gradient(circle at center, #0066FF 0%, #121212 100%);
    // background: linear-gradient(to bottom, #121212 0%, #1E3B8B 100%);
    // background: radial-gradient(circle at center, #1E3B8B 0%, #121212 100%);
    // background: linear-gradient(to bottom, #121212 0%, #1E3B8B 50%, #121212 100%);

    &__header {
        padding: 2rem 0;
        text-align: center;
        &__content {
            max-width: 970px;
            margin: 0 auto;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0.5rem;
        margin-top: 4rem;
        &__item {
            margin: 2rem 1rem 0;
            padding: 0.5rem 5rem;
            border: 1px solid transparent;
            border-radius: 10px;
        }
    }
    &__list {
        @include reset-list;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 100%;
        margin-bottom: 1rem;
        @include media('md') {
            flex: 0 0 calc(49.5%);
        }
        @include media('xl') {
            flex: 0 0 calc(24.5%);
        }
    }
}
