.services {
    background-color: $color-black;
    padding: 2rem 0 4rem;

    &__header {
        padding: 2rem 0;
        text-align: center;
        max-width: 900px;
        margin: 0 auto;
    }

    &__content {
        margin: 0 auto 1rem;
        @include media('md') {
            margin-bottom: 1.5rem;
        }
        &__left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
    }
    &__list {
        @include reset-list;
        margin: 0 0 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    &__item {
        width: 100%;
        margin-bottom: 1rem;
        display: flex; // Convertimos el item en flex container
        @include media('xl') {
            flex: 0 0 calc(49.5%);
        }
    }
    &__footer {
        padding: 2rem 1rem 1rem;
        text-align: center;
        border-radius: 10px;
        background-color: $color-white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
}
